service cloud.firestore {
  match /databases/{database}/documents/version/1 {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isMySelfDoc(userId) {
      return request.auth.uid == userId;
    }

    match /user/{userId} {
      allow read: if isAuthenticated();
      allow create, update: if isMySelfDoc(userId);
    }
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
