service firebase.storage {
  match /b/{bucket}/o {
    function isMySelfDoc(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId}/images/{filename} {
      allow read;
      allow create, update: if isMySelfDoc(userId);
    }
  }
}
