service firebase.storage {
  function isMySelfDoc(userId) {
    return request.auth.uid == userId;
  }

  match /users/{userId}/images/{filename} {
    allow read;
    allow write: if isMySelfDoc(userId);
  }
}
